{{ template "title" "Aguarde"}}

<p>Seu cadastro está aguardando aprovação.</p>

<p>Você não poderá fazer ou responder perguntas.</p>

<p>Enquanto isso você pode pesquisar e ver perguntas e respostas.</p>