{{ template "title" "Entrar" }}
{{ template "erro" . }}

<p>Para perguntar e responder é nescessário entrar no sistema.</p>

<form method="POST" action="/entrar">

<label>
  E-mail:
  <input type="email" name="email" value="{{.Usuario.Email}}" required>
</label>

<label>
  Senha:
  <input type="password" name="senha" required>
</label>

<input type="submit" value="Entrar">

</form>