{{ template "title" "Bem-vindo!" }}

<div id="page">
  <a class="card" href="/topicos">Topicos</a>
  <a class="card" href="/pesquisa">Pesquisar</a>
  <a class="card" href="/usuario/new">Cadastrar</a>
  {{if .LoggedIn}}
  <form action="/sair">
    <input type="submit" value="Sair">
  </form>
  {{else}}
  <a class="card" href="/entrar">Entrar</a>
  {{end}}
</div>

<style>
  #page a {
    display: block;
  }
</style>