{{ define "title" -}}
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ . }}</title>
  {{ template "style.html" }}
</head>

<body>
  <a style="display: block" href="/">
    <div class="card" style="font-size: 2em">BB Forum</div>
  </a>
  {{ end }}

  {{ define "erro" }}
  {{ if .Erro }}<div class="erro">{{ .Erro }}</div>{{ end }}
  {{ end }}

  {{ define "end" }}
</body>

</html>
{{ end }}