{{ template "title" "Nova Pergunta" }}
{{ template "erro" .}}

<form method="POST" action="/pergunta/new">

<input type="hidden" name="topico" value="{{.Pergunta.Topico}}">

<label>
  Titulo:
  <input type="text" name="titulo" value="{{.Pergunta.Titulo}}">
</label>

<label>
  Texto:
  <textarea name="texto" rows="10">{{.Pergunta.Texto}}</textarea>
</label>

<input type="submit" value="Enviar">
</form>