{{ template "title" "Perguntas" }}
{{ template "erro" .}}

<form method="GET" action="/pergunta/new?id={{.Topico.ID}}">
  <input type="submit" value="+ Nova Pergunta">
</form>

<h1>Perguntas</h1>

{{ range .Perguntas }}

<div class="card">
  <h2><a href="/respostas?id={{.ID}}">{{ .Titulo }}</a></h2>
  <p>enviada por {{ .Usuario }} em {{.FormatData}}</p>
</div>

{{ end }}