{{ template "title" "Pesquisa" }}
{{ template "erro" .}}

<h1>Pesquisar</h1>

<form action="/pesquisa" method="POST">
  <label>Texto:
    <input type="text" name="q" required>
  </label>
  <label>
    <input type="radio" name="tipo" value="perguntas" checked> Somente perguntas
  </label>
  <label>
    <input type="radio" name="tipo" value="marcadas"> Perguntas e respostas marcadas
  </label>
  <label>
    <input type="radio" name="tipo" value="respostas"> Perguntas e todas as respostas
  </label>
  <input type="submit" value="Pesqusar">
</form>

{{ range .Perguntas }}

<div class="card">
  <h2><a href="/respostas?id={{.ID}}">{{ .Titulo }}</a></h2>
  <p>{{.FormatData}}</p>
  <p>{{.Texto}}</p>
</div>

{{ end }}