{{ template "title" "Nova Resposta" }}
{{ template "erro" .}}

<form method="POST" action="/resposta/new">
<input type="hidden" name="pergunta" value="{{.Resposta.Pergunta}}">

<label>
  Texto:
  <textarea name="texto" rows="10"></textarea>
</label>

<input type="submit" value="Enviar">
</form>