{{ template "title" "Respostas"}}
{{ template "erro" .}}

<h1>{{.Pergunta.Titulo}}</h1>

<p>enviada por {{.Pergunta.Usuario}} em {{.Pergunta.FormatData}}</p>
<div class="card">
  <p>{{.Pergunta.Texto}}</p>
</div>

<form method="GET" action="/resposta/new?id={{.Pergunta.ID}}">
  <input type="submit" value="+ Responder">
</form>

{{ range .Respostas }}
<div class="card">
  {{ if .IsMarcada }}
  <div class="card melhor-resposta">Melhor Resposta</div>
  {{ end }}
  <div>
    {{.FormatData}}, {{.Usuario}} diz:
  </div>
  <p>{{ .Texto }}</p>
  {{ if $.UserIsOP }}
  {{ if not .IsMarcada }}
  <div>
    <form action="/marcar" method="POST">
      <input type="hidden" name="pergunta" value="{{.Pergunta}}">
      <input type="hidden" name="resposta" value="{{.ID}}">
      <input type="submit" value="Marcar como resposta correta">
    </form>
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}