{{ template "title" "Topicos" }}
{{ template "erro" .}}

<h1>Topicos</h1>

{{ range .Topicos }}

<div class="card">
  <h2><a href="/perguntas?id={{.ID}}">{{ .Titulo }}</a></h2>
  <p><a href="/perguntas?id={{.ID}}">{{ .Texto }}</a></p>
</div>

{{ end }}