{{ template "title" "Novo Usuario" }}
{{ template "erro" . }}

<form method="POST" action="/usuario/new">

<label>
  Nome:
  <input type="text" name="nome" value="{{.Usuario.Nome}}" required>
</label>

<label>
  Email:
  <input type="email" name="email" value="{{.Usuario.Email}}" required>
</label>

<label>
  Senha:
  <input type="password" name="senha" required>
</label>

<label>
  Confirmar senha:
  <input type="password" name="senha2" required>
</label>

<input type="submit" value="Enviar">

</form>