{{ template "title" "Todos Usuarios" }}
{{ template "erro" .}}

<h1>Usuários</h1>

<table style="width: 100%;" border="1">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Aprovado</th>
  </tr>
  {{ range .Usuarios }}
  <tr>
    <td>{{.ID}}</td>
    <td>{{.Nome}}</td>
    {{if .IsAprovado}}
    <td class="aprovado">Aprovado</td>
    {{else}}
    <td class="desaprovado">Desaprovado</td>
    {{end}}
  </tr>
  {{ end }}

</table>

<style>
  .aprovado {
    background-color: green;
  }

  .desaprovado {
    background-color: red;
  }

  .admin {
    background-color: yellow;
  }

  input[type="submit"] {
    padding: 0 1em;
    border-radius: 0;
  }
</style>